{% include 'layout.html'%}
{% load static %}
{% block title %} Blog {% endblock %}
{% block body %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>From Blog</h2>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'app:home' %}}">Home</a>
                        <a href="{% url 'app:blog' %}}">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
      <!-- Blog Start -->
      <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Blog</p>
                <h2>Latest news & articles directly from our blog</h2>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            {% if blog.blog_image %}
                            <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}" height="250px">
                            {% else %}
                            <img src="{% static 'path/to/default-image.jpg' %}" alt="Default Image">
                            {% endif %}
                        </div>
                        <div class="blog-text">
                            <h3><a href="/blog/{{blog.id}}">{{ blog.title }}</a></h3>
                            <p>
                                {{ blog.content|truncatechars:100 }}
                            </p>
                        </div>
                        <div class="blog-meta">
                            <p><i class="fa fa-user"></i> <a href="#">{{ blog.author }}</a></p>
                            <p><i class="fa fa-calendar"></i> {{ blog.date|date:"F j, Y" }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
    
{% endblock %}
