{% extends 'layout.html' %}

{% load static %}
{% block title %} FoodFairy {% endblock %}

{% block body %}

        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Nourishing Communities, One Meal at a Time</h1>
                            <p>
                                Join the Food Fairy mission to bridge the gap between food
                                 surplus and those in need. Together, we can make every meal count 
                                 and reduce food waste in our communities.                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="">Donate Now</a>
                                <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/CiFoHm7HD94" data-target="#videoModal">Watch Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/donation.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Get Involved with helping hand</h1>
                            <p>
                                "Join hands with us to make a real difference. Whether you’re donating food, volunteering your time, your support brings nourishment to those who need it most. Every effort counts in creating a stronger, more compassionate community.                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="{%  url 'app:makeDonation' %}">Donate Now</a>
                                <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/CiFoHm7HD94" data-target="#videoModal">Watch Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-3.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Bringing smiles to millions</h1>
                            <p>
                                Together, we can turn every donation into a reason to smile. By providing food to families and communities, we’re not just filling plates—we’re bringing hope, joy, and a brighter future to millions.                            </p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom" href="">Donate Now</a>
                                    <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/CiFoHm7HD94" data-target="#videoModal">Watch Video</a>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img" data-parallax="scroll" data-image-src="{% static 'img/about.jpg' %}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <p>Learn About Us</p>
                            <h2>Worldwide non-profit charity organization</h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-content-1" class="container tab-pane active">
                                    Food Fairy is a community-driven platform committed to bridging the gap between food donors and those in need.
                                     With a focus on reducing food waste and fighting hunger, we connect donors, and beneficiaries in a seamless
                                      process that ensures surplus food reaches those who need it most. By harnessing the power of technology,
                                     we aim to create a world where no meal goes to waste and every community has access to nourishing food.                                </div>
                                <div id="tab-content-2" class="container tab-pane fade">
                                    Our mission is to empower communities by redistributing surplus food to those in need,
                                     fostering a culture of giving, and reducing food waste. Through strategic partnerships
                                      and innovative technology,
                                     we are dedicated to making food access equitable and sustainable.                                
                                </div>
                                <div id="tab-content-3" class="container tab-pane fade">
                                    We envision a future where no one goes hungry, and food is a shared resource that 
                                    supports thriving communities. By transforming food donations into acts of care,
                                     we aim to create a world where every individual has access to fresh, 
                                    nutritious meals and the opportunity to live a healthier life.                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>What We Do?</p>
                    <h2>We believe that we can save more lifes with you</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Healthy Food</h3>
                                <p>We distribute nutritious food to ensure recipients have access to healthy, balanced meals.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-handshake"></i>

                            </div>
                            <div class="service-text">
                                <h3>Community Support</h3>
                                <p>Our program strengthens communities by connecting donors and volunteers with local families and institutions in need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <div class="service-text">
                                <h3>Sustainable Partnerships</h3>
                                <p>We work with local businesses and organizations to build sustainable food sources, reducing hunger long-term in our communities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Volunteer Engagement</h3>
                                <p></p>
                                Our program actively engages volunteers, creating opportunities for people to contribute their time and resources toward ending hunger.                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="service-text">
                                <h3>Emergency Food Aid</h3>
                                <p>We provide quick-response food assistance to communities affected by emergencies, ensuring they receive immediate support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p>We offer holistic support by connecting beneficiaries with additional resources beyond food, such as counseling, housing assistance, and healthcare referrals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        
        
        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="{% static 'img/facts.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-home"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                                <p>Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-charity"></i>
                            <div class="facts-text">
                                <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                                <p>Volunteers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-kindness"></i>
                            <div class="facts-text">
                                <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                                <p>Our Goal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-donation"></i>
                            <div class="facts-text">
                                <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                                <p>Raised</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->
        
    
        
        <!-- Donate Start -->
        <div class="donate" data-parallax="scroll" data-image-src="{% static 'img/donate.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Donate Now</p>
                                <h2>Let's donate to needy people for better lives</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                    Every small act of kindness can make a big difference. Your donation helps bring nutritious meals, essential resources, and hope to those in need. Together, we can combat hunger, support families, and uplift communities, one donation at a time. Let's join hands to create a world where no one goes to bed hungry. With your support, we can make lasting change and build brighter futures for those who need it the most.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form">
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-custom active">
                                        <input type="radio" name="options" checked> $10
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options"> $20
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options"> $30
                                    </label>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Donate Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Donate End -->
        
        <!-- Event Start -->
        <div class="event">
            <div class="container">
                <div class="section-header text-center">
                    <p>Upcoming Events</p>
                    <h2>Be ready for our upcoming charity events</h2>
                </div>
                <div class="row">
                    <!-- Kayole Social Hall Event -->
                    {% for event in events %}

                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="{{ event.event_image.url }}" alt="Image" height="300px">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>{{ event.date }}</p>
                                    <p><i class="far fa-clock"></i>{{event.start_time }} - {{ event.end_time }}</p>
                                    <p><i class="fa fa-map-marker-alt"></i>{{ event.location }}</p>
                                </div>
                                <div class="event-text">
                                    <h3>{{ event.title}}</h3>
                                    <p>
                                        {{event.description}}
                                    </p>
                                    <a class="btn btn-custom" href="">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </div>
        <!-- Event End -->



<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Awesome guys behind our charity activities</h2>
        </div>
        <div class="row">
            {% for member in team_members %}
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ member.image.url }}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>{{ member.name }}</h2>
                        <p>{{ member.role }}</p>
                        <div class="team-social">
                            {% if member.twitter %}
                            <a href="{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if member.facebook %}
                            <a href="{{ member.facebook }}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if member.linkedin %}
                            <a href="{{ member.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% if member.instagram %}
                            <a href="{{ member.instagram }}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->
    
        
        <!-- Volunteer Start -->
        <div class="volunteer" data-parallax="scroll" data-image-src="{% static 'mg/volunteer.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Become a volunteer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Become A Volunteer</p>
                                <h2>Let’s make a difference in the lives of others</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    Volunteering with us is a great way to give back to your community and make a real impact. By joining our team, you will be helping to fight hunger and provide essential resources to those in need. Whether it's distributing food, organizing events, or raising awareness, your time and effort will contribute to making the world a better place.
                                </p>
                                <p>
                                    As a volunteer, you will not only assist in our mission, but also gain valuable experiences, build connections, and be part of a passionate team working towards a common goal. Together, we can help create a future where no one goes hungry and everyone has access to nutritious meals.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->

        
    
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center">
                    <p>Get In Touch</p>
                    <h2>Contact for any query</h2>
                </div>
                <div class="contact-img">
                    <img src="{% static 'img/contact.jpg' %}" alt="Image">
                </div>
                <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <!-- Contact End -->


      <!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Blog</p>
            <h2>Latest news & articles directly from our blog</h2>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        {% if blog.blog_image %}
                        <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}" height="250px">
                        {% else %}
                        <img src="{% static 'path/to/default-image.jpg' %}" alt="Default Image">
                        {% endif %}
                    </div>
                    <div class="blog-text">
                        <h3><a href="/blog/{{blog.id}}">{{ blog.title }}</a></h3>
                        <p>
                            {{ blog.content|truncatechars:100 }}
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-user"></i> <a href="#">{{ blog.author }}</a></p>
                        <p><i class="fa fa-calendar"></i> {{ blog.date|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->

 <!--Terms of services Modal -->
 <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms of Use</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <h3>Last Updated: 29/11/2024</h3>

                <h4>1. Acceptance of Terms</h4>
                <p>By accessing or using the Service, you accept and agree to these Terms, which govern your use of the Service. If you do not agree to these Terms, you may not access or use the Service.</p>
        
                <h4>2. Eligibility</h4>
                <p>You must be at least 18 years old, or the legal age of majority in your jurisdiction, to use our Service. If you are under the required age, you must have the consent of a parent or legal guardian to use the Service.</p>
        
                <h4>3. Account Registration</h4>
                <p>In order to access certain features of the Service, you may be required to create an account with us. By registering for an account, you agree to provide accurate, current, and complete information about yourself and keep it updated. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
        
                <h4>4. Use of the Service</h4>
                <p>You agree to use the Service only for lawful purposes and in accordance with these Terms. You must not use the Service: <ul>
                  <li>In any way that violates any applicable law or regulation.</li>
                  <li>For any unlawful or fraudulent activity.</li>
                  <li>To transmit any harmful, illegal, or disruptive content.</li>
                </ul></p>
        
                <h4>5. Prohibited Activities</h4>
                <p>You are prohibited from: <ul>
                  <li>Interfering with the functionality of the Service.</li>
                  <li>Accessing or attempting to access another user's account without authorization.</li>
                  <li>Using the Service to engage in any activity that could harm or damage the reputation of foodFairy.</li>
                </ul></p>
        
                <h4>6. Content Ownership</h4>
                <p>All content available on the Service, including but not limited to text, images, videos, logos, and trademarks, is the property of foodFairy or its licensors and is protected by intellectual property laws. You may not copy, reproduce, distribute, or modify any content without explicit permission.</p>
        
                <h4>7. User Content</h4>
                <p>By posting or uploading content to the Service (such as reviews, comments, or media), you grant foodFairy a non-exclusive, worldwide, royalty-free, and transferable license to use, display, distribute, and reproduce the content in connection with the Service. You represent and warrant that you have the right to grant this license and that your content does not infringe on any third-party rights.</p>
        
                <h4>8. Privacy Policy</h4>
                <p>Your use of the Service is also governed by our Privacy Policy, which can be found at <a style="color: blue; font-weight:bold" href="">Privacy policy</a>. Please review it to understand how we collect, use, and protect your personal information.</p>
        
                <h4>9. Termination</h4>
                <p>We reserve the right to suspend or terminate your access to the Service at our sole discretion, without notice, for any violation of these Terms. Upon termination, you must cease all use of the Service and destroy any content you have obtained from the Service.</p>
        
                <h4>10. Disclaimers</h4>
                <p>The Service is provided on an "as is" and "as available" basis. We make no representations or warranties, express or implied, about the availability, reliability, or accuracy of the Service. foodFairy does not guarantee uninterrupted access to the Service.</p>
        
                <h4>11. Limitation of Liability</h4>
                <p>To the fullest extent permitted by law, foodFairy shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from your use of the Service. In no event will our liability exceed the amount you have paid for the Service, if any.</p>
        
                <h4>12. Indemnification</h4>
                <p>You agree to indemnify and hold [Your Website Name] and its affiliates, employees, and partners harmless from any claims, losses, or damages, including reasonable attorneys' fees, arising out of your use of the Service or your violation of these Terms.</p>
        
                <h4>13. Governing Law</h4>
                <p>These Terms shall be governed by and construed in accordance with the laws of Kenya, without regard to its conflict of law principles. Any disputes will be resolved in the courts of [Your Jurisdiction].</p>
        
                <h4>14. Changes to Terms</h4>
                <p>We reserve the right to modify or update these Terms at any time. Any changes will be posted on this page with an updated "Last Updated" date. You are encouraged to review these Terms periodically. Your continued use of the Service after any modifications will constitute your acceptance of the revised Terms.</p>
        
                <h4>15. Contact Us</h4>
                <p>If you have any questions about these Terms, please contact us at: <br> Email: {{socials.email}} <br> Phone: {{socials.phone}} </p>
              </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <h3>Last Updated: 29/11/2024</h3>

                <h4>1. Introduction</h4>
                <p>We respect your privacy and are committed to protecting the personal information you share with us. This Privacy Policy outlines how we collect, use, and protect your personal data when you use our Service.</p>

                <h4>2. Information We Collect</h4>
                <p>We may collect the following types of information:</p>
                <ul>
                    <li><strong>Personal Information:</strong> This includes your name, email address, phone number, and location, which you provide when registering for an account or interacting with the Service.</li>
                    <li><strong>Usage Data:</strong> We collect information on how you interact with our Service, including your IP address, device type, browser information, and pages visited.</li>
                    <li><strong>Cookies:</strong> We use cookies to improve your user experience, track usage patterns, and provide personalized content.</li>
                </ul>

                <h4>3. How We Use Your Information</h4>
                <p>We may use your information for the following purposes:</p>
                <ul>
                    <li>To provide, maintain, and improve the Service.</li>
                    <li>To personalize your experience and offer customized content and ads.</li>
                    <li>To communicate with you, including responding to your inquiries and sending service-related notices.</li>
                    <li>To monitor and analyze usage of the Service to improve our offerings.</li>
                    <li>To comply with legal obligations and resolve disputes.</li>
                </ul>

                <h4>4. How We Protect Your Information</h4>
                <p>We take reasonable precautions to protect your personal information from unauthorized access, alteration, disclosure, or destruction. This includes using encryption technologies and secure servers.</p>

                <h4>5. Sharing Your Information</h4>
                <p>We do not sell, rent, or trade your personal information to third parties. We may share your information with third-party service providers who assist us in operating the Service, subject to strict confidentiality agreements.</p>

                <h4>6. Your Rights and Choices</h4>
                <p>You have the right to access, correct, or delete your personal information. You may also withdraw consent for processing your personal data at any time, subject to certain legal exceptions.</p>
                <p>If you wish to exercise any of these rights, please contact us using the contact details provided at the end of this policy.</p>

                <h4>7. Data Retention</h4>
                <p>We retain your personal data only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, or as required by law.</p>

                <h4>8. Third-Party Links</h4>
                <p>Our Service may contain links to third-party websites or services. We are not responsible for the privacy practices or content of these external sites. Please review the privacy policies of any third-party websites you visit.</p>

                <h4>9. Changes to this Privacy Policy</h4>
                <p>We reserve the right to update this Privacy Policy at any time. When we do, we will post the new policy on this page and update the "Last Updated" date. We encourage you to review this Privacy Policy periodically for any changes.</p>

                <h4>10. Contact Us</h4>
                <p>If you have any questions or concerns about this Privacy Policy, please contact us at: <br> Email: {{socials.email}} <br> Phone: {{socials.phone}} </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>My own Street Of Kayole Nairobi</p>
                            <p><i class="fa fa-phone-alt"></i>{{ socials.phone }}</p>
                            <p><i class="fa fa-envelope"></i>{{ socials.email }}</p>
                            <div class="footer-social">
                                <a class="btn btn-custom" href="{{ socials.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href="{{ socials.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href="{{ socials.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href="{{ socials.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href="{{ socials.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="/about/">About Us</a>
                            <a href="/contact/">Contact Us</a>
                            <a href="/events/">Upcoming Events</a>
                            <a href="/blog/">Latest Blog</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">Terms of Use</a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="/contact">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <form>
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn btn-custom">Submit</button>
                                <label>Don't worry, we don't spam!</label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">foodfairy</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="https://alexmaina.vercel.app/" target="_blank">alex maina</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
      
        {% endblock %}