{% include 'layout.html'%}
{% load static %}
{% block title %} Events {% endblock %}
{% block body %}
       <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Service</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Service</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        

        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>What We Do?</p>
                    <h2>We believe that we can save more lifes with you</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Healthy Food</h3>
                                <p>We distribute nutritious food to ensure recipients have access to healthy, balanced meals.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-handshake"></i>

                            </div>
                            <div class="service-text">
                                <h3>Community Support</h3>
                                <p>Our program strengthens communities by connecting donors and volunteers with local families and institutions in need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <div class="service-text">
                                <h3>Sustainable Partnerships</h3>
                                <p>We work with local businesses and organizations to build sustainable food sources, reducing hunger long-term in our communities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Volunteer Engagement</h3>
                                <p></p>
                                Our program actively engages volunteers, creating opportunities for people to contribute their time and resources toward ending hunger.                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="service-text">
                                <h3>Emergency Food Aid</h3>
                                <p>We provide quick-response food assistance to communities affected by emergencies, ensuring they receive immediate support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p>We offer holistic support by connecting beneficiaries with additional resources beyond food, such as counseling, housing assistance, and healthcare referrals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        


        {% endblock %}